@tailwind base;
@tailwind components;
@tailwind utilities;

@supports (font: -apple-system-body) and (-webkit-appearance: none) {
  img[loading='lazy'] {
    clip-path: inset(0.6px);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');


li{

    font-family: 'Oswald', sans-serif;
}
.bg-base-100{
  --tw-bg-opacity:1;
  background-color: hsl(var(--b1) / var(--tw-bg-opacity));

}
.px-1 {
  padding-left: 0.25rem;
  padding-right: 0.25rem;
}
.menu-horizontal {
  display: inline-flex;
  width: -moz-max-content;
  width: max-content;
  flex-direction: row;
}
.flex-1{
  flex: 1 1 0%;
}
.flex-none{
  flex: none;
}
.navbar{
  display: flex;
  align-items: baseline;
  padding: var(--navbar-padding,0.5rem);
  min-height: 4rem;
  width: 100%;
  align-content: space-between;
  justify-content: flex-end;
  flex-wrap: nowrap;
}

*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
:where(.navbar > *) {
  display: inline-flex;
  align-items: center;
}

.container2{
  background-color: antiquewhite;
}


 
.nav-area {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

.logo {
  text-decoration: none;
  font-size: 25px;
  color: inherit;
  margin-right: 20px;
}

/* .menus {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
} */
/* Add this to your CSS or SCSS file */
.dropdown.dropdown-left {
  /* Adjust the values as per your requirement */
  right: auto;
  left: 0;
}

.menus{
  display: flex;
  align-items:  center;
  flex-wrap: wrap;
  list-style: none;
  padding: var(--navbar-padding,0.5rem);
  min-height: 4rem;
  width: 100%;
  align-content: space-between;
  justify-content: flex-end;
}

.menu-items {
  position: relative;
  font-size: 14px;
}

.menu-items a {
  display: block;
  font-size: inherit;
  color: inherit;
  text-decoration: none;
}

.menu-items button {
  display: flex;
  align-items: center;
  color: inherit;
  font-size: inherit;
  border: none;
  background-color: transparent;
  cursor: pointer;
  width: 100%;
}

button span {
  margin-left: 3px;
}

.menu-items > a, .menu-items button {
  text-align: left;
  padding: 0.7rem 1rem;
}

.menu-items a:hover,
.menu-items button:hover {
  background-color: #cc3852;
  
}

.arrow::after {
  content: "";
  display: inline-block;
  margin-left: 0.28em;
  vertical-align: 0.09em;
  border-top: 0.42em solid;
  border-right: 0.32em solid transparent;
  border-left: 0.32em solid transparent;
}

.dropdown {
  position: absolute;
  right: 0;
  left: 1;
  box-shadow: 0 10px 15px -3px rgba(46, 41, 51, 0.08),
    0 4px 6px -2px rgba(71, 63, 79, 0.16);
  font-size: 0.875rem;
  z-index: 9999;
  min-width: 10rem;
  padding: 0.5rem 0;
  list-style: none;
  background-color: #202329;
  border-radius: 0.5rem;
  display: none;
  color: aqua;

}

.dropdown.show {
  display: block;
  
}

.dropdown .dropdown-submenu {
  position: absolute;
  
  right: 160px;
  top: -7px;
}

/* content */

.content {
  max-width: 1200px;
  margin: 0 auto;
  padding: 3rem 20px;
}

.content h2 {
  margin-bottom: 1rem;
}

.content a {
  color: aqua;
  margin-right: 10px;
}